<!--<ul class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab"><a href="#imgbox">Temple</a></li>
    <li class="tab"><a href="#test2">Top Places</a></li>
    <li class="tab"><a href="#test0">Map</a></li>
</ul>-->
<h1>FAMOUS TEMPLES</h1> 
<div id="#imgbox">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="assets/images/ranga.jpg"> 
                <div class="caption left-align">
                    <h3 style="color:brown;font-family:Pacifico;">Srirangapatna<br /> </h3>
                    <h5 class="light black-text text-lighten-3" style=" font-family:Pacifico,cursive;">Ranganathaswamy Temple</h5>
                </div>
            </li>
            <li>
                <img src="assets/images/kateel.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3 style="color:blue;font-family:Pacifico,cursive;">Kateelu</h3>
                    <h5 class="light black-text text-lighten-3" style=" font-family:Pacifico,cursive;">Shri Durga Parameshwari Temple
                    </h5>
                </div>
            </li>
            <li>
                <img src="assets/images/iscon.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3 style="color:blue;font-family:Pacifico,cursive;">Iscon</h3>
                    <h5 class="light black-text text-lighten-3" style=" font-family:Pacifico,cursive;">Iscon temple , Bangalore
                    </h5>
                </div>
            </li>
            <li> 
                <img src="assets/images/swamy.jpg"> <!-- random image -->
                <div class="caption right-align">
                    <h3 style="color:brown;font-family:Pacifico,cursive;">Tumkur</h3>
                    <h5 class="light black-text text-lighten-3" style=" font-family:Pacifico,cursive;">Narasimha Swamy Temple, Seebi
                    </h5>
                </div>
            </li>
        </ul>
    </div>

</div>
<div id="test2">

    <div class="grid-container">

        <div class="item1" *ngFor="let temp of temples;let i=index" style="padding-top:20px;">
            <div class="card" style="width: 18rem; height:25rem;">
                <img class="card-img-top" width="150px;" height="190px;" [src]="transform(temp)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title alert alert-info">
                        {{temp.title}}
                    </h5><br />
                    <p class="card-text">{{temp.description| slice:0:20}}....</p><br /><br />
                    <button type="button" class="btn btn-primary" (click)="openModal(template,i)">Know
                        more..</button><br />
                </div>
            </div>

        </div>
    </div>

  
    <ng-template #template>

        <div class="modal-header">
            <h4 class="modal-title pull-left">{{ctitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <br /><br />
        <div class="modal-body ">
            {{desc}}
        </div>

    </ng-template>

</div>

<div id="test0" class="col s12">
        <div>
                <h3>MAP</h3>
                <iframe src="assets/images/map.jpg" width="700" height="700"></iframe> 
        </div>
</div>