<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="">
            </div>
            <a><img width="120px;" height="120px;" style="border-radius: 60px;"
                    src="assets/images/admin.jpg"></a>
        </div>
    </li>
    <li><i class="material-icons">group</i> Admin Panel</li>
    <li>
        <div class="divider"></div>
    </li>

    <ul class="collapsible">
        <li>
            <div class="collapsible-header waves-effect">
                <i class="material-icons">my_location</i>Manage Attractions</div>
            <div class="collapsible-body">
                <button class="button"><a routerLink="../admin-create"><i class="material-icons">add</i>Add Attraction</a></button><br>
                <button class="button"><a routerLink="../admin-list"><i class="material-icons">list</i>Edit/Delete Attractions</a></button>
            </div>
        </li>
    </ul>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header waves-effect">
                <i class="material-icons">card_travel</i>Manage Agency/Guide</div>
            <div class="collapsible-body">
                <button class="button"><a routerLink="../ta-create"><i class="material-icons">add</i>Register Agency/Guide</a></button><br>
                <button class="button"><a routerLink="../ta-list"><i class="material-icons">list</i>Edit/Delete Agency/Guide</a></button>
            </div>
        </li>
    </ul>
    <ul>
        <li><button class="button"><a routerLink="../query-list"><i class="material-icons">feedback</i>See Queries</a></button></li>
    </ul>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger btn-floating black pulse"><i
        class="material-icons">menu</i></a>
&nbsp;&nbsp;&nbsp;&nbsp; <b style="font-size: x-large;">Tour Site</b>&nbsp;
<button class="button"><a href="http://localhost:4200/" class=" btn-floating black pulse"><i class="material-icons">pages</i></a></button>
<div class="jumbotron">
    <h1 class="display-4">Hello, Admin!</h1>
    <p class="lead" style="font-size: x-large;">
        Operations
    </p>
    <div>
        <ul class="collection">
            <li class="collection-item">Manage Attractions</li>
            <li class="collection-item">Manage Agency/Tour Guide</li>
            <li class="collection-item">See Queries</li>
        </ul>
    </div>
    <hr class="my-4">
    <h3>"Karnataka"</h3>
</div>