<ul>
    <li>
        <button class = "button"><a routerLink="../admin-panel" class=" btn-floating btn-large black pulse"><i class="material-icons">arrow_back_ios</i></a></button>
    </li>
</ul>
<div style="text-align: center;font-size: x-large;" class="alert alert-info"><b>Register Travel Agency / Tour Guide</b></div>
<div class="container">
    <form [formGroup]="taForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <h6>Title/Name</h6>
            <input formControlName="t_name" />
            <span class="text text-danger"
                *ngIf="taForm.get('t_name').invalid &&taForm.get('t_name').touched && taForm.get('t_name').errors.required">
                Title is required.<br />
            </span>
        </div>
        <div class="form-group">
            <h6>Email</h6>
            <input formControlName="t_email" />
            <span class="text text-danger"
                *ngIf="taForm.get('t_email').invalid &&taForm.get('t_email').touched && taForm.get('t_email').errors.required">
                Email is required.<br />
            </span>
        </div>
        <div class="form-group">
            <h6>Phone Number</h6>
            <input formControlName="t_phone" maxlength="10" />
            <span class="text text-danger"
                *ngIf="taForm.get('t_phone').invalid &&taForm.get('t_phone').touched && taForm.get('t_phone').errors.required">
                Phone Number is required.<br />
            </span>
        </div>
        <div class="form-group">
            <h6>Address</h6>
            <textarea formControlName="t_address" rows="5"></textarea>
            <span class="text text-danger"
                *ngIf="taForm.get('t_address').invalid &&taForm.get('t_address').touched && taForm.get('t_address').errors.required">
                Address is required.<br />
            </span>
        </div>
        <div class="form-group">
            <h6>Role</h6>
            <select class="custom-select form-control" (change)="updateProfile($event.target.value)"
                formControlName="t_role">
                <option value="" selected>Choose...</option>
                <option *ngFor="let x of taDrop" value="{{x}}">{{x}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <h6>City/Area</h6>
            <input formControlName="t_city" />
            <span class="text text-danger"
                *ngIf="taForm.get('t_city').invalid &&taForm.get('t_city').touched && taForm.get('t_city').errors.required">
                City/Area is required.<br />
            </span>
        </div>
        <div style="padding-left: 350px;">
            <button type="submit" class="button" [disabled]="!taForm.valid">Save</button>
        </div>
    </form>
</div>